[submodule "gd_modul_dart_1385"]
	path = gd_modul_dart_1385
	url = https://github.com/vt92i/gd_modul_dart_1385.git
[submodule "Guided1_BloC_1385"]
	path = Guided1_BloC_1385
	url = https://github.com/vt92i/Guided1_BloC_1385.git
[submodule "gd5_b_1385"]
	path = gd5_b_1385
	url = https://github.com/vt92i/gd5_b_1385.git
[submodule "gd6_b_1385"]
	path = gd6_b_1385
	url = https://github.com/vt92i/gd6_b_1385.git
[submodule "modul_cam_qr_1385"]
	path = modul_cam_qr_1385
	url = https://github.com/vt92i/modul_cam_qr_1385.git
